# Base de datos
MONGO_URI=mongodb://localhost:27017/parkbnb

# JWT
JWT_SECRET=supersecretkey
JWT_REFRESH_SECRET=supersecretrefreshkey

# Servidor
PORT=5001
APP_URL=http://localhost:5001
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:19006

# Integraciones
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RESEND_API_KEY=
FROM_EMAIL=noreply@parkbnb.com

# Otros
FIGMA_FILE_ID=nmYChnJZPosyS3SENZ0HUi

